h1, h2 {
    color:#D1ADF7;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
}
ul{
    font-family: 'Lato', sans-serif;
}
body{
    background:#26294d;
    color:#FDE2F3;
    margin: 30px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.center{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.centered-list{
    display: inline-block;
    text-align: left;
}
.taskbar{
    display: flex;
    justify-content: flex-end;
}
.imborder{
    padding: 6px;
    background: conic-gradient(
        from var(--gradient-angle),
        #541263,
        #2c4494,
        #bc2a67,
        #2c4494,
        #541263);
}
.border{
    padding: 1px;
    background: #FDE2F3;
}
.skip{
    background-color: black;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: -999px;
}
.skip:focus{
    left: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col1{
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
}
.col2{
    flex-direction: column;
    flex-basis: 40%;
}
#photos{
    max-width: 90%;
    display: block;
    margin-bottom: 10px;
}
@media only screen and (max-width: 800px){
    .center{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .row{
        display: block;
    }
    .col1{
        display: block;
    }
    .col2{
        display: block;
    }
    #photos{
        display: block;
    }
}